<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>

  <!-- console appender 정의 -->
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- logstash appender 정의 -->
  <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
    <destination>localhost:5000</destination>
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <mdc />
        <context />
        <logLevel />
        <loggerName />
        <pattern>
          <pattern>
            {
            "app": "Potato-eCommerce"
            }
          </pattern>
        </pattern>
        <threadName />
        <message />
        <logstashMarkers />
        <stackTrace />
      </providers>
    </encoder>
  </appender>


  <!-- WARN 이상인 경우 logstash appender 참조 -->
  <root level="WARN">
    <appender-ref ref="logstash" />
    <appender-ref ref="console" />
  </root>


</configuration>